 @model Survey
 <div style="margin:auto; width:70%; border:solid 2px black; padding:auto;text-align: center">
    <h1>result</h1>   
    <h3>Name:@Model.Name</h3>
    <h3>Location:@Model.Location</h3>
    <h3>Language:@Model.Language</h3>
    <h3>Comments:@Model.Comments</h3>
    <a href="/">Go Back</a>
    </div>